<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88157062966-fuhr94i1nj8epj7r1nftscm7panb8r5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88157062966-fuhr94i1nj8epj7r1nftscm7panb8r5p</string>
	<key>API_KEY</key>
	<string>AIzaSyCt4K01yIFTLoyWFD5Kiqu9MTBY48eOY_o</string>
	<key>GCM_SENDER_ID</key>
	<string>88157062966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mikionakata.Food-Tracker</string>
	<key>PROJECT_ID</key>
	<string>food-data-2864e</string>
	<key>STORAGE_BUCKET</key>
	<string>food-data-2864e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88157062966:ios:b47cb80341342a15a65597</string>
	<key>DATABASE_URL</key>
	<string>https://food-data-2864e.firebaseio.com</string>
</dict>
</plist>